*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
:root{
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}
html{
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--DarkBlue);
    position:relative;
}

.container{
    display: inline-block;
    color: var(--LightCyan);
    background-color: var(--DarkGrayishBlue);
    border: 1.0rem solid var(--DarkGrayishBlue);
    border-radius: 1rem;
    padding: 5rem;
    font-size: 2.8rem;
    text-align: center;
    line-height: 2; 
    position: relative;
    top:auto;
    left:auto;
    transform: translate(90%, 20%); 
    width: 50rem; 
    max-width: 50rem;
    max-height: 45rem;
    min-height: 45rem;
    box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
-webkit-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
-moz-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
    /* overflow: hidden;     */
}

.heading{
    color: var(--NeonGreen);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    display:block;
    margin-bottom: 3rem;
 
}
.quote{
    margin-bottom: 3.5rem;
    display: inline-block;
    font-weight: 800;
    word-wrap: normal;
    min-height: 23rem;
    max-height: 23rem;
}

.pattern{
   height: 5rem;
   border: none;
   width: 60rem; 
   display: block;
   overflow: hidden;
   transform: translate(-5%, 0%);
}
.img_fix{
    position:absolute;
    top: 40rem;
    left: 40%;
    border: 0.5rem solid var(--NeonGreen);
    background-color: var(--NeonGreen);
    border-radius: 50%;
    padding: 2rem;
    width: 10rem;
    transform: scale(0.7);
    
}

.img-dice{
    width: 2rem;
    transform: scale(1.5);
    cursor: pointer;
}

.img-dice:hover{
    transform: scale(2.5);
    box-shadow: 0.1rem 0.3rem 2px rgba(0,132,67);

}

.attribution{
    display: none;
}
/* 
@media only screen and (min-width: 375px) {

        .container{
            display: inline-block;
            color: var(--LightCyan);
            background-color: var(--DarkGrayishBlue);
            border: 1.0rem solid var(--DarkGrayishBlue);
            border-radius: 1rem;
            padding: 5rem;
            font-size: 2.8rem;
            text-align: center;
            line-height: 2; 
            position: relative;
            top:auto;
            left:auto;
            transform: translate(20%, 60%); 
            width: 50rem; 
            max-width: 50rem;
            max-height: 45rem;
            min-height: 45rem;
            box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
        -webkit-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
        -moz-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
        }

}

@media only screen and (min-width: 1440px) {
    .container{
        display: inline-block;
        color: var(--LightCyan);
        background-color: var(--DarkGrayishBlue);
        border: 1.0rem solid var(--DarkGrayishBlue);
        border-radius: 1rem;
        padding: 5rem;
        font-size: 2.8rem;
        text-align: center;
        line-height: 2; 
        position: relative;
        top:auto;
        left:auto;
        transform: translate(80%, 70%); 
        width: 50rem; 
        max-width: 50rem;
        max-height: 45rem;
        min-height: 45rem;
        box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
    -webkit-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
    -moz-box-shadow: 20px 16px 38px -16px rgba(0,0,0,0.86);
    
    
    }
    
} */